---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/ansible/ansible-lint
    rev: v6.4.0
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$
